/* 가입 페이지 */

/* 디바이스 이미지 */
.global-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

.global-wrapper .main-wrapper {
  display: flex;
  align-items: center;
  width: 750px;
  height: 100%;
  margin: 0 auto;
}

.global-wrapper .main-wrapper .device {
  flex-basis: 454px;
  height: 618px;
  margin: 0 0 0 -44px;
  background: url('./images/device.png') no-repeat;
}

/* 로그인 Form */

.global-wrapper .main-wrapper .form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 618px;
  margin: 0 5px 0 -15px;
}

.global-wrapper .main-wrapper .form-wrapper .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 33px 0 10px 0;
  padding: 10px 40px 10px 40px;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  background-color: #fff;
}

.global-wrapper .main-wrapper .form-wrapper .form-container h1 {
  height: 51px;
  width: 175px;
  margin: 22px auto 12px;
  background: url('./images/instagram-images.png') no-repeat;
  background-position: 0 -130px;
}

.global-wrapper .main-wrapper .form-wrapper .form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 0;
}

.global-wrapper .main-wrapper .form-wrapper .form-container form input {
  height: 28px;
  padding: 4px 8px 4px 8px;
  margin: 0 0 14px 0;
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  form
  input[type='submit'] {
  height: 30px;
  margin: 0 0 19px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background-color: #bbe0fc;
  cursor: pointer;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  form
  input:first-child {
  margin: 0 0 6px 0;
}

.global-wrapper .main-wrapper .form-wrapper .form-container .line {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 29px 0;
}

.global-wrapper .main-wrapper .form-wrapper .form-container .line .left-border,
.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  .line
  .right-border {
  width: 104px;
  height: 1px;
  background-color: #dbdbdb;
  transform: translateY(5px);
}

.global-wrapper .main-wrapper .form-wrapper .form-container .line .or {
  margin: 0px 18px 0 18px;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
}

.global-wrapper .main-wrapper .form-wrapper .form-container .facebook {
  width: 100%;
  text-align: center;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  .facebook
  .facebook-login-btn {
  display: flex;
  align-items: center;
  margin: 0 auto 21px auto;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  .facebook
  .facebook-login-btn
  span {
  display: inline-block;
  color: #385185;
  font-size: 14px;
  font-weight: 600;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .form-container
  .facebook
  .facebook-login-btn
  .facebook-logo {
  height: 16px;
  width: 16px;
  margin: 0 8px 0 0;
  background: url('./images/instagram-images.png') no-repeat;
  background-position: -414px -259px;
}

.global-wrapper .main-wrapper .form-wrapper .form-container .find-password {
  margin: 0 0 11px 0;
  color: #00376b;
  text-align: center;
  font-size: 12px;
}

.global-wrapper .main-wrapper .form-wrapper .sign-up-wrapper {
  display: flex;
  justify-content: center;
  height: 63px;
  margin: 0 0 22px 0;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  background-color: #ffffff;
}

.global-wrapper .main-wrapper .form-wrapper .sign-up-wrapper .sign-up {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.global-wrapper .main-wrapper .form-wrapper .sign-up-wrapper .sign-up span {
  color: #262626;
  font-weight: 200;
  padding: 0 3px 0 0;
}

.global-wrapper .main-wrapper .form-wrapper .sign-up-wrapper .sign-up a {
  color: #0095f6;
  font-weight: 600;
}

.global-wrapper .main-wrapper .form-wrapper .download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-wrapper .main-wrapper .form-wrapper .download-app p {
  width: 100%;
  text-align: center;
  margin: 0 0 22px 0;
  font-size: 14px;
}

.global-wrapper .main-wrapper .form-wrapper .download-app .image-container {
  display: flex;
  height: 40px;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .download-app
  .image-container
  a:first-child {
  margin: 0 8px 0 0;
}

.global-wrapper
  .main-wrapper
  .form-wrapper
  .download-app
  .image-container
  a
  img {
  width: 136px;
  height: 40px;
}

/* Footer */
.global-wrapper .footer-wrapper {
  display: flex;
  height: 104px;
  z-index: 10;
}

.global-wrapper .footer-wrapper .footers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  background-color: #fafafa;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
}

.global-wrapper .footer-wrapper .footers .nav-lists {
  display: flex;
}

.global-wrapper .footer-wrapper .footers .nav-lists .list {
  margin: 0 16px 7px 0;
  color: #00376b;
  cursor: pointer;
}

.global-wrapper .footer-wrapper .footers span {
  display: block;
  color: #8e8e8e;
}

/* 메인 페이지 */

/* Header */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  z-index: 99999;
}

.main-header .header-wrapper {
  display: flex;
  align-items: center;
  max-width: 975px;
  padding: 0px 20px;
}

.main-header .header-wrapper .logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 360px;
  height: 36px;
}

.main-header .header-wrapper .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  min-width: 125px;
  max-width: 215px;
  height: 28px;
  padding: 7px 7px 7px 7px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  cursor: text;
}

.main-header .header-wrapper .search .search-word {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 300;
}

.main-header .header-wrapper .search .search-image {
  background: url('./images/instagram-images.png') no-repeat;
  background-position: -399px -321px;
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
}

.main-header .header-wrapper .tabs-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 360px;
  height: 22px;
}

.main-header .header-wrapper .tabs-wrapper .tabs {
  display: flex;
}

.main-header .header-wrapper .tabs-wrapper .tabs button {
  margin: 0 22px 0 0;
}

.main-header .header-wrapper .tabs-wrapper .tabs button:last-child {
  margin: 0;
}

.main-header .header-wrapper .tabs-wrapper .tabs .profile-button {
  position: relative;
  width: 22px;
  height: 22px;
}

.main-header .header-wrapper .tabs-wrapper .tabs .profile-button .image {
  width: 100%;
  height: 100%;
}

.main-header .header-wrapper .tabs-wrapper .tabs .profile-button .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 모달 */
.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal {
  position: absolute;
  width: 230px;
  margin-left: -180px;
  top: 37px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .arrow {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 184px;
  bottom: 0;
  top: -6px;
  transform: rotate(45deg);
  /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975); */
  border: 1px solid #fff;
  background-color: #fff;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .change-sign,
.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .logout {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 8px 16px;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  a
  .list {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 8px 16px;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  a
  .list:hover {
  background-color: #fafafa;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  a
  .list:active {
  background-color: #efefef;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  a
  .list
  .icon {
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .change-sign,
.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .logout {
  margin: 0 0 4px 0;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .change-sign
  .icon {
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  a
  .list
  .text {
  display: flex;
  align-items: center;
  color: #262626;
  font-size: 14px;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .change-sign
  .text {
  display: flex;
  align-items: center;
  color: #262626;
  font-size: 14px;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .logout {
  padding: 8px 16px;
  border-top: 1px solid #dbdbdb;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .logout:hover {
  background-color: #fafafa;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .logout:active {
  background-color: #efefef;
}

.main-header
  .header-wrapper
  .tabs-wrapper
  .tabs
  .profile-button
  .modal-wrapper
  .modal-container
  .modal
  .logout
  span {
  color: #262626;
  font-size: 14px;
}

/* Container */
.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.main-wrapper .main-container {
  max-width: 945px;
  width: 935px;
}

.main-wrapper .main-container .main {
  position: relative;
  display: flex;
  width: 100%;
  padding: 84px 0 0 0;
}

.main-wrapper .main-container .main .contents {
  width: 614px;
  margin: 0 28px 0 0;
}

/* Story */
.main-wrapper .main-container .main .story-wrapper {
  height: 118px;
  margin: 0 0 24px 0;
  padding: 16px 0 16px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
}

/* 피드 */
.main-wrapper .main-container .main .contents .feed-wrapper .feed {
  margin: 0 0 15px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
}

/* 피드 헤더 */
.main-wrapper .main-container .main .contents .feed-wrapper .feed .feed-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 16px 16px 16px 16px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-header
  .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-header
  .user-profile
  .thumbnail
  img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-header
  .user-profile
  .nickname
  span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-header
  .user-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-header
  .user-tab
  button {
  cursor: pointer;
}

/* 캐러셀 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .carousel {
  display: flex;
  max-height: 768px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .carousel
  img {
  min-width: 614px;
  width: 614px;
  object-fit: contain;
}

/* 버튼 */

/* 다음 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .next {
  position: absolute;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 16px 8px;
  cursor: pointer;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .next
  .next-image {
  height: 30px;
  width: 30px;
  background: url('./images/instagram-images.png') no-repeat;
  background-position: -162px -98px;
}

/* 이전 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .prev {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 16px 8px;
  cursor: pointer;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .carousel-wrapper
  .prev
  .prev-image {
  height: 30px;
  width: 30px;
  background: url('./images/instagram-images.png') no-repeat;
  background-position: -130px -98px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0 0 0;
  padding: 0 16px 0 16px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .tabs
  .left-tab
  button:first-child {
  padding: 8px 8px 8px 0;
  cursor: pointer;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .tabs
  .left-tab
  button {
  padding: 8px 8px 8px 8px;
  cursor: pointer;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .tabs
  .right-tab
  button {
  padding: 8px 0 8px 8px;
  cursor: pointer;
}

/* 좋아요 개수 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .like-length {
  padding: 0 16px 0 16px;
  margin: 0 0 6px 0;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .like-length
  .like-btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* 피드 내용 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .description-wrapper {
  padding: 0 16px 0 16px;
  margin: 0 0 7px 0;
  font-size: 14px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .description-wrapper
  .nickname {
  color: #262626;
  font-weight: 600;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .description-wrapper
  .description {
  overflow-wrap: break-word;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .description-wrapper
  .more {
  color: #8e8e8e;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .description-wrapper
  .more
  button {
  cursor: pointer;
}

/* 댓글 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments {
  padding: 0 16px 0 16px;
  font-size: 14px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comments-length {
  margin: 0 0 7px 0;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comments-length
  .length {
  color: #8e8e8e;
}

/* 댓글 */
.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comment-lists
  .lists
  .list {
  margin: 0 0 7px 0;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comment-lists
  .lists
  .list
  .comment-info {
  display: flex;
  justify-content: space-between;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comment-lists
  .lists
  .list
  .comment-info
  .info
  .nickname
  a {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .comment-lists
  .lists
  .list
  .comment-info
  .like-btn
  button {
  cursor: pointer;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .since {
  margin: 0 0 7px 0;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comments
  .since
  a {
  font-size: 10px;
  color: #8e8e8e;
}

/* 댓글창 */

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comment-area {
  display: flex;
  align-items: center;
  height: 53px;
  border-top: 1px solid #dbdbdb;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comment-area
  .comment-form {
  width: 100%;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comment-area
  .comment-form
  form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comment-area
  form
  .text-comment {
  height: 18px;
  font-weight: 400;
}

.main-wrapper
  .main-container
  .main
  .contents
  .feed-wrapper
  .feed
  .feed-content-wrapper
  .content
  .comment-area
  form
  button {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.3;
}

/* 추천 */
.main-wrapper .main-container .main .recommend-wrapper {
  width: 100%;
  margin: 0 0 20px 0;
}

.main-wrapper .main-container .main .recommend-wrapper .recommend-container {
  position: fixed;
  max-width: 293px;
  width: 100%;
}

/* 헤더 */
.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info {
  display: flex;
  align-items: center;
  margin: 20px 0 23px 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info
  .profile-page {
  width: 60px;
  height: 60px;
  margin: 0 17px 0 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info
  .profile-page
  img {
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info
  .detail {
  display: flex;
  flex-direction: column;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info
  .detail
  a {
  margin: 0 0 5px 0;
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .user-info
  .detail
  span {
  color: #8e8e8e;
  font-size: 14px;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommends
  span {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommends
  a {
  color: #262626;
  font-size: 12px;
  font-weight: 600;
}

/* 추천인 */
.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender:last-child {
  margin: 0;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  .profile {
  display: flex;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  .profile
  img {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
  border-radius: 100%;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  .profile
  .recommender-info {
  display: flex;
  flex-direction: column;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  .profile
  .recommender-info
  .nickname {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 14px;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  .profile
  .recommender-info
  .message {
  color: #8e8e8e;
  font-size: 12px;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .recommenders
  .recommender
  button {
  color: #0095f6;
  font-size: 12px;
  font-weight: 600;
}

/* 추천 푸터 */
.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper
  .footers
  .nav-lists {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 0 20px 0;
  line-height: 18px;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper
  .footers
  .nav-lists
  .list {
  font-weight: 400;
  text-transform: none;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper
  .footers
  .nav-lists
  .list::after {
  content: '\00B7';
  margin: 0 0.25em 0 0.25em;
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper
  .footers
  .nav-lists
  .list:last-child::after {
  content: '';
}

.main-wrapper
  .main-container
  .main
  .recommend-wrapper
  .recommend-container
  .footer-wrapper
  .footers
  span {
  text-transform: uppercase;
}

/* 프로필 페이지 */

.main-wrapper .main-container .profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 84px 0 0 0;
}

/* 프로필 */
.main-wrapper .main-container .profile-container .profile-wrapper {
  width: 100%;
  margin: 0 0 43px 0;
}

.main-wrapper .main-container .profile-container .profile-wrapper .profile {
  display: flex;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .thumbnail {
  padding: 0 65px 0 65px;
  margin: 0 34px 0 0;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .thumbnail
  img {
  width: 150px;
  height: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info {
  width: 100%;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .tabs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .tabs
  .nickname {
  margin: 0 20px 0 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .tabs
  .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 13px 0 0;
  padding: 7px 9px 7px 9px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  cursor: pointer;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .tabs
  .edit
  a {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .tabs
  .options {
  width: 24px;
  height: 24px;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .statuses {
  margin: 0 0 25px 0;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .statuses
  .status {
  display: flex;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .statuses
  .status
  div {
  display: flex;
  margin: 0 40px 0 0;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .statuses
  .status
  div
  dd {
  font-weight: 600;
}

.main-wrapper
  .main-container
  .profile-container
  .profile-wrapper
  .profile
  .info
  .description
  h1 {
  margin: 0 0 8px 0;
  font-weight: 600;
}

/* 탭 */
.main-wrapper .main-container .profile-container .tab-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  height: 53px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-wrapper .main-container .profile-container .tab-wrapper .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-wrapper .main-container .profile-container .tab-wrapper .tabs .tab.on {
  border-top: 1px solid black;
}

.main-wrapper
  .main-container
  .profile-container
  .tab-wrapper
  .tabs
  .tab.on
  span {
  color: #262626;
}

.main-wrapper .main-container .profile-container .tab-wrapper .tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px 0 0;
  height: 100%;
}

.main-wrapper
  .main-container
  .profile-container
  .tab-wrapper
  .tabs
  .tab:last-child {
  margin: 0;
}

.main-wrapper .main-container .profile-container .tab-wrapper .tabs .tab span {
  color: #8e8e8e;
  padding: 0 0 0 6px;
}

.main-wrapper
  .main-container
  .profile-container
  .posts-wrapper
  .posts-container
  .post-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 28px;
}

.main-wrapper
  .main-container
  .profile-container
  .posts-wrapper
  .posts-container
  .post-container
  .post {
  width: 293px;
  height: 293px;
}

.main-wrapper
  .main-container
  .profile-container
  .posts-wrapper
  .posts-container
  .post
  a
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
